.left {
  background-color:black;
  position: fixed;
  width: 20%;
  float: left;
  height:100%;
  
  
  
 }
 
 .nav{
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .nav li {
   margin: 0;
   padding-left: .5em;
   list-style: none;
   
 }
 .nav li a {
     display: block;
     line-height: 1em;
     padding-top: 10%;
     width: 100%;
     text-decoration: none;
   
 }
 
 body {
  
   background-image: url('/images/mountain_goat.jpg');
     background-repeat: no-repeat;
     width: 90%;
     height: 550px;
     background-size: cover;
   }
    
    
   
   a{
     color: white;
     text-decoration: none;
     list-style-type: none;
     padding: 10px;
   }
   
  .image{
    padding: 20px;
   }
   
   .div-with-text
   {
     margin-left:25%;
     padding-top: 40%;
     color: white;
     font-family: arial, helvetica, san-serif;
     
 }
   
   li {
     font-family: arial, helvetica, san-serif;
   }
 
 .contact {
   color:black;
   margin-left: 25%;
   margin-top:10%;
   height:10%;
   display: relative;
   }